
.purple5{
  color: #1c001c
}
.purple5-bg{
  background-color: #1c001c;
}

.bannerBg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
  background-position-x: 50%;


}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .bannerBg{

    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    background-position-x: 50%;
  
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
